/* FONTS */

/* Variables */
:root {
  --body-bg: rgb(61, 59, 64);
  --btn-green: rgb(97, 186, 56);
  --btn-blue: rgb(79, 135, 247);
  --btn-red: rgb(235, 76, 77);
}

/*Main Styles*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.timer {
  height: 100vh;
  background-color: var(--body-bg);
}
.timer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.timer__title {
  font-weight: 300;
  font-size: 90px;
}
.timer__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}
.timer__item:not(:last-child) {
  margin-right: 70px;
}
.timer__text {
  font-size: 90px;
}
.timer__btn {
  padding: 10px 100px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
}
.timer__btn:focus {
  box-shadow: 0px 0px 5px 5px black;
}

#start {
  background-color: var(--btn-green);
}
#stop {
  background-color: var(--btn-blue);
}
#reset {
  background-color: var(--btn-red);
}
